#navbar, #moi, #competences, #projets, #contact{
    font-family: 'Quattrocento Sans', sans-serif;
}

h1{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 22px;
}

body{
    scroll-behavior: smooth;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
}


#navbar{
    font-size: 20px;
}

#navbar a:hover{
    color: rgb(120, 201, 233); 
}


/* header */

#container h1{
    font-size: 12vw; /* 15.5 */
    display: flex;
    text-align: center;
    background: #fff;
    text-transform: uppercase;
    mix-blend-mode: screen;
    text-shadow: black 3px 3px 6px;
   margin: 0;
   padding-bottom: 12px;
   will-change: opacity;
   font-family: 'Pacifico';
   overflow: hidden;
} 

video{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

/* moi */
#moi {
    /* /background-color: #90E0EF; */
    background: whitesmoke;
    border-top: solid black 0.5px;
    border-bottom: solid black 0.5px;
    padding-bottom: 15px;
    padding-top: 50px;
}

#moi img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    box-shadow: 4px 3px 5px black;
}

#moi img:hover{
    transform: scale(1.15);
    transition: 0.5s
}

#textA{
    padding-top: 17px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 1px 1px 0.2px;
    text-align: center;
}

#textB{
    padding-top: 50px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 1px 1px 0.2px;
    text-align: center;
}


/* PARCOUR */

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10%;
  border-radius: 2px;
}


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #5792c2;
}
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff
}

.cd-timeline-img {
  background: #5792c2;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #5792c2;
  border-radius: 2px;
  padding: 1em;
}
  .timeline-content-info {
    background: #5792c2;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
  }
    i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {  
      width: calc(50% - 2px);
      display: inline-block;
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {  
        display: block;
        width:100%;
      } 
    }
  .content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    li {
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(0, 0, 0, 0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top:0;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: rgb(0, 0, 0);
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #000000;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}



/* competences */

#competences {
    color: whitesmoke;
    background: #00B4D8;
    text-shadow: 1px 2px 0px black;
    height: 312px;
    border-top: solid black 0.5px;
    border-bottom: solid black 0.5px;
}

#competences h2{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* projets */

#projets{
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex, img{
object-fit: cover;
height: 150px;
width: 150px;
}

.d-flex, h3{
  font-size: 22px;
}

/* contact */ 

#contact{
    color: black;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-top: solid black 0.5px;
    margin-top: 20px;
}
